<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Meal Category ID</th>
            <th>Option</th>
            
          </tr>

        </thead>
        <tbody>
          <% if(data.length){
         
          for(var i = 0; i< data.length; i++) {%>  
          <tr>
              <th><%= data[i].id%></th>
              <td><%= data[i].category%></td>
              <td><%= data[i].name%></td>                    
              <td><%= data[i].author%></td>                    
            </td>
          </tr>
          <% }
                   
           }else{ %>
               <tr>
                  <td colspan="3">No Student</td>
               </tr>
            <% } %>   
        
      </tbody>
      </table>

</body>
</html>